APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080
APP_PORT=8080

DB_HOST=mysql
MYSQL_ROOT_PASSWORD=root
DB_PORT=3306
# Раскомментируйте в docker-compose.yml для доступа к MySQL с хоста:
# DB_HOST_PORT=13306
DB_DATABASE=blog
DB_USERNAME=blog
DB_PASSWORD=secret

SMARTY_COMPILE_DIR=var/smarty/compile
SMARTY_CACHE_DIR=var/smarty/cache

ARTICLES_PER_PAGE=10
